<form class="container contactm" method="POST" action="/contact">
    <h1 class="display-4 mt-3 text-center">Contact Me</h1>
    <div class="form-group mt-2">
        <label for="exampleFormControlInput1" class="lable-nm">Name</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Enter Your Name">
    </div>
    <div class="form-group mt-2">
        <label for="exampleFormControlInput1"  class="lable-nm">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="Enter Your Email">
    </div>
    <div class="form-group mt-2">
        <label for="exampleFormControlInput1"  class="lable-nm">Mobile No</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name="mobile" placeholder="Enter Your Mobile No">
    </div>
  
  
    <div class="form-group mt-2">
        <label for="exampleFormControlTextarea1"  class="lable-nm">Your suggestion</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="message" placeholder="Enter your thoughts" rows="3"></textarea>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
</form>